:root {
  --header-background: black;
  --text-color: #efefef;
  --header-padding: 0.1rem 2rem;
  --sub-header: rgb(48, 44, 44);
}

.header {
  background-color: var(--header-background);
  padding: var(--header-padding);
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: 7px 25px ;
}

.header__logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo{
  /* display: block; */
  transform: scale(1.3);
}

.header__nav {
  flex: 1;
  margin-left: 1.5rem;
}

.header__ul {
  /* background-color: green; */
  display: flex;
  list-style: none;
  align-items: center;
}

.header__link {
  text-decoration: none;
  color: var(--text-color);
  margin: 0 10px;
}
.left {
  margin-left: auto;
}

.header__link li {
  font-size: 1.4rem;
  padding: 0.2rem;
}

.header__link:hover:not(.logo) {
  color: rgb(180, 177, 177);
}

.header__userInfo {
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 200px;
  white-space: nowrap;
}

.header__menu-toggle {
  cursor: pointer;
  display: none;
}

@media (max-width: 700px) {
  .header {
    justify-content: space-between;
    padding: 13px 25px;
  }
  .left {
    margin-left: 0;
  }
  .header__menu-toggle {
    display: block;
  }
  .header__nav {
    position: fixed;
    top: 42px;
    left: -24px;
    width: 100%;
    height: 100vh;
    background-color: var(--sub-header);
    z-index: 10;
    display: none;
  }

  .header__nav.active {
    display: block;
  }

  .header__ul {
    display: block;
  }

  .header__userInfo {
    max-width: 100%;
    /* background-color: red; */
    justify-content: center;
  }

  .header__link li {
    margin-top: 8px;
    text-align: center;
    border-bottom: 1px solid gray;
  }
}
